# ==========================================
# محیط مجازی (Virtual Environment)
# ==========================================
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# ==========================================
# فایل‌های کامپایل شده پایتون
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ==========================================
# دیتابیس
# ==========================================
db.sqlite3
*.sqlite3
*.db

# ==========================================
# تنظیمات IDE (ادیتورها)
# ==========================================
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# ==========================================
# جنگو (Django)
# ==========================================
media/
staticfiles/
*.log
migrations/
!migrations/__init__.py

# ==========================================
# فایل‌های محیطی (Environment)
# ==========================================
.env
.env.local
.env.*.local

# ==========================================
# فایل‌های موقت و لاگ
# ==========================================
*.log
*.tmp
*.temp
coverage/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/