{% extends 'shared/_layout.html' %}
{% block title %}
{{ pro.titel }}
{% endblock %}
{% block content %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
            <div class="col-md-12">
                {% if favorite_products %}
                <p>
                    added
                </p>
                {% endif %}
            </div>
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        {% if pro.image %}
                        <img class="card-img img-fluid" src="{{ pro.image.url }}" alt="{{ pro.slug }}" id="product-detail">
                        {% else %}
                        <img class="card-img img-fluid" src="/static/img/product_single_10.jpg" alt="Card image cap" id="product-detail">
                        {% endif%}
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">قبلی</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_01.jpg" alt="Product Image 1">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_02.jpg" alt="Product Image 2">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_03.jpg" alt="Product Image 3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_04.jpg" alt="Product Image 4">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_05.jpg" alt="Product Image 5">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_06.jpg" alt="Product Image 6">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_07.jpg" alt="Product Image 7">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_08.jpg" alt="Product Image 8">
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="/static/img/product_single_09.jpg" alt="Product Image 9">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--/.Third slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">بعدی</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ pro.titel }}</h1>
                            <p class="h3 py-2">{{ pro.price}}</p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">امتیاز 4.8 | 36 نظرات</span>
                            </p>
                            {% if pro.brand  %}
                            <ul class="list-inline padd-r-0">
                                <li class="list-inline-item">
                                    <h6>برند:</h6>
                                </li>
                                <li class="list-inline-item">

                                    <p class="text-muted"><strong>{{ pro.brand }}</strong></p>

                                </li>
                            </ul>
                            {% endif %}
                            <h6>توضیحات:</h6>
                            <p>
                                {{ pro.short_desc }}
                            </p>
                            <ul class="list-inline padd-r-0">
                                <li class="list-inline-item">
                                    <h6>رنگ های موجود :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>سفید / مشکی</strong></p>
                                </li>
                            </ul>

                            <h6>مشخصات:</h6>
                            <ul class="list-unstyled pb-3 padd-r-0">
                                <li>لورم ایپسوم متن</li>
                                <li>برای شرایط فعلی</li>
                                <li>با هدف بهبود</li>
                                <li>لازم است و برای بهبود</li>
                                <li>لاز و برای با هدف بهبود</li>
                                <li>لازم است و برای</li>
                                <li>لازم است با هدف</li>
                            </ul>

                            <form action="{% url 'favorite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="productID" value="{{ pro.id }}">
                                 <button type="submit" class="btn btn-default card">
                                    <i class="fa fa-heart"></i>
                                    افزودن به علاقه‌مندی‌ها
                                 </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
    
{% endblock %}