{% extends 'shared/_layout.html' %}
{% block title %}
    تماس با ما
{% endblock %}

{% block content %}
    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">تماس با ما</h1>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            </p>
        </div>
    </div>


    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form" action="{% url 'contact_module' %}">
                {% csrf_token %}
                <div class="form-group col-md-6 mb-3">
                    {{ contact_form.email.label_tag }}
                    {{ contact_form.email }}
                    {{ contact_form.email.errors }}
                </div>
                <div class = 'form-group col-md-6 mb-3{% if contact_form.name.errors %}text-danger{% endif %} }'>
                    {{ contact_form.name.label_tag }}
                    {{ contact_form.name }}
                    {{ contact_form.name.errors }}
                </div>
                 <div class = 'mb-3 {% if contact_form.title.errors %}text-danger{% endif %}'>
                    {{ contact_form.title.label_tag }}
                    {{ contact_form.title }}
                    {{ contact_form.title.errors }}
                </div>
                <div class = 'mb-3 {% if contact_form.description.errors %}text-danger{% endif %}'>
                    {{ contact_form.description.label_tag }}
                    {{ contact_form.description }}
                    {{ contact_form.description.errors }}
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->


{% endblock %}