{% extends 'shared/_layout.html' %}
{% block title %}
    تماس با ما
{% endblock %}

{% block content %}
    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">تماس با ما</h1>
            <p>
                ثبت پروفایل
            </p>
        </div>
    </div>
    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form" action="{% url 'create_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="user_image">
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->


{% endblock %}